body{
    font-family:'Fredoka', sans-serif;
    max-width: 1080px; 
	margin: 0 auto;
}

.container {
    margin: auto;
}

.header {
    background-color: #1f2937;
    color:white;
    padding: 15px 30px 40px 40px;
}

.header-section {
    display:flex;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 30px 0 30px;

}

.nav {
    justify-content: space-evenly;
    
}
.item{
    padding: 0 10px 0 10px;
}
li {
    display: inline;
}
li a{
    text-decoration: none;
    color:white;

}



.head-section{
    display:flex;
    max-width: 100%;
    padding: 15px 15px 15px 30px;
}


.head-section-left {
    width: 50%;
}

.head-section-right {
    display:flex;
    width: 50%; 
    justify-content: center;
    align-items: center;
    overflow: hidden
}


.head-section-right img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.button {
    background-color: #388286;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 20px;

}

.text-centralised {
    text-align: center;
}
.body-section {
    display:flex;
    margin: 30px;
    flex-direction:row;
}

.body-section h2{
    text-align: center;
}

.about-me {
    width: 25%;
    padding:10px;
}

.about-me img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex:1 1 auto;
    text-align:center;
    margin:5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: #1f2937 solid 1px;
}

